<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>The Entrepreneurial Society &mdash; TES</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>



	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<img src="images/logotes.jpg" alt="logo entrepreneurial Society">
		        </div>
		        <!-- Starting Navigation Bar Titles -->
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
		            <li><a href="#" data-nav-section="about"><span>About</span></a></li>
		            <li><a href="#" data-nav-section="services"><span>Events</span></a></li>
		            <li><a href="#" data-nav-section="features"><span>Contact</span></a></li>
		            <li><a href="#" data-nav-section="sponsors"><span>How to Be a Sponsor</span></a></li>
		            <li><a href="blog.html"><span>Blog</span></a></li>
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>
<!-- Home -->
	<div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-fullwidth">
			<!-- You may change the background color here. -->
		    <div class="item" style="background: #000000;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
					    <div class="col-md-7 col-sm-7">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Ideas and Innovation</h1>
									<h2 class="fh5co-sub-lead to-animate">Engaging text motivating people to participate in our events
									</h2>
									<p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Join our Mailing List</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
					    	<div class="iphone to-animate-2"><img src="images/iphone-2.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
					    </div>

		    		</div>
		    	</div>
		    </div>
			<!-- You may change the background color here.  -->
		    <div class="item" style="background: #000F4B;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Become a Sponsor</h1>
									<h2 class="fh5co-sub-lead to-animate">Get access to the brightest minds in Toronto.Our objective is to connect great companies with great minds for amazing ideas. <a href="#" target="_blank">Learn More</a></h3>
									<p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">How To Be a Sponsor</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
					    	<div class="iphone to-animate-2"><img src="images/iphone-1.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
					    </div>

		    		</div>
		    	</div>
		    </div>

		    <div class="item" style="background-image:url(images/slide_5.jpg)">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
		    						<h1 class="fh5co-lead to-animate">Join Muldisciplinary Entrepreneurship</h1>
									<h2 class="fh5co-sub-lead to-animate">No matter your educational background entrepreneurship is for you.</h2>
									<p class="to-animate-2"><a href="http://freehtml5.co/" target="_blank" class="btn btn-primary btn-lg">Sign Up Now</a></p>
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>
	</div>
	<!--About Us Container-->
	<div id="fh5co-about-us" data-section="about">
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div class="col-md-12 about-heading text-center">
					<h2 class="to-animate">About Us</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3 class="text-align-center">The Team's Philosphy</h3>
						</div>
						<div class="col-md-12">
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
						</div>
					</div>
					<hr>
				</div>
				<hr>
				<div class="col-md-4 to-animate quote">
					<h3>"Quote to be included"</h3>
				</div>
				<div class="col-md-8 to-animate">
					<h3>Mission and Vision</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
					<h3>How we got Started</h3>
					<p> We started this road with the sole objective to enhance entrepreneurial activity across disciplines
						around campus.Text on the foundation of the club. </p>
					<p><a href="#" class="btn btn-primary-purple" data-nav-section="features">Meet the team</a></p>
				</div>
				<div class="col-md-4 to-animate">
					<h2>Tested,Measured and Proven </h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
				</div>
				<div class="col-md-4 to-animate">
					<h2>Why it Matters</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
				</div>
				<div class="col-md-4 to-animate">
					<h2>Our Approach</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
				</div>
			</div>
			<div class="row" id="team">
				<div class="col-md-12 about-heading text-center to-animate">
					<h2>Our Team</h2>
				</div>
				<div class="col-md-12">
					<div class="row row-bottom-padded-lg">
						<div class="col-md-3 text-center to-animate">
							<div class="person">
								<img src="images/person2.jpg" class="img-responsive img-rounded" alt="Person">
								<h3 class="name">Saad A. Saleem</h3>
								<div class="position">President</div>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
								<!-- Starting Social Connections -->
								<ul class="social social-circle">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 text-center to-animate">
							<div class="person">
								<img src="images/person3.jpg" class="img-responsive img-rounded" alt="Person">
								<h3 class="name">Umair Sheikh</h3>
								<div class="position">Vice President</div>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
								<ul class="social social-circle">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 text-center to-animate">
							<div class="person">
								<img src="images/person4.jpg" class="img-responsive img-rounded" alt="Person">
								<h3 class="name">Nikhita Treesa Joy</h3>
								<div class="position">Marketing Director</div>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
								<ul class="social social-circle">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
							<div class="col-md-3 text-center to-animate">
							<div class="person">
								<img src="images/person4.jpg" class="img-responsive img-rounded" alt="Person">
								<h3 class="name">Sebastian Alvarado</h3>
								<div class="position">Technical Coordinator</div>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
								<ul class="social social-circle">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Events Container -->
	<!-- We replaced services by Events in our implementation-->
	<div id="fh5co-our-services" class="services-section" data-section="services" style="background-image: url(images/city-background.jpg);">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Events</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.(Text Explaining what kind of events we will have)</h3>
						</div>
					</div>
				</div>
			</div>
			<!--Starting Events Explanation-->
			<div class="row">
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
						<h3>Event #1</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
						<h3>Event #4</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
						<h3>Event #2</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
						<h3>Event #5</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-3"><span><i class="icon-eye"></i></span></div>
						<h3>Event #3</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-6"><span><i class="icon-user"></i></span></div>
						<h3>Event #6</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			
		</div>
	</div>
</div>

	<!-- Calendar Page-->
	<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2>Event Calendar</h2>
				</div>
			</div>
			<div class="row">
				<!-- Commingly Events Calendar-->
				<iframe src="https://commingly.com/tesutoronto/events/calendar/" frameborder="0" allowTransparency="true" width="900" height="700"></iframe>
			</div>
			<div class="row">
				<h2> New Events</h2>
				<iframe src="https://commingly.com/tesutoronto/events/upcoming/" frameborder="0" allowTransparency="true" width="700" height="500"></iframe>
			</div>
		</div>
	</div>


	<!-- Contact Page -->
	<div id="fh5co-features" data-section="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-features-1">Contact</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-6 fh5co-service to-animate">
					<div class="fh5co-desc">
						<h2>Join our Newsletter!</h2>
						<form>
							<div class="form-group">
								<label for="inputName"> Name</label>
								<input type="text" class="form-control" id="inputName" placeholder="Jane Doe">
							</div>
							<div class="form-group">
								<label for="email"> Email </label>
								<input trype="text" class="form-control" id="email" placeholder="jane.doe@example.com">
							</div>
							<button type="submit" class="btn btn-primary"> Sign Up</button>
						</form>
					</div>	
				</div>
				<!--Starting Social Profiles in Contact Us-->
				<div class="col-md-6 fh5co-service to-animate">
					<div class="fh5co-desc">
						<h2>Social Profiles</h2>
						<!--Twitter-->
						<div class="row">
						<div class="col-md-4 to-animate text-center">
							<ul class="social social-circle">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
						</ul>
						</div>
						<div class="col-md-2 to-animate">
							<p>Twitter Handle</p>
						</div>
						</div>
						<!--Facebook-->
						<div class="row">
						<div class="col-md-4 to-animate text-center">
							<ul class="social social-circle">
								<li><a href="#"><i class="icon-facebook"></i></a></li>
							</ul>
						</div>
						<div class="col-md-2 to-animate">
							<p>Facebook Page</p>
						</div>
						</div>
						<!--LinkedIn-->
						<div class="row">
						<div class="col-md-4 to-animate text-center">
							<ul class="social social-circle">
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="col-md-2 to-animate">
							<p>LinkedIn</p>
						</div>
					</div>
				</div>
			</div>
	</div>
	</div>
</div>

	<!-- How to Be a Sponsor -->
	<div id="fh5co-features" data-section="sponsors" style="background-image: url(images/city-background.jpg);" class="sponsor-container">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-features-1">Become a Sponsor</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-6 fh5co-service to-animate">
					<div class="fh5co-desc">
						<h2>Join our Newsletter!</h2>
						<form>
							<div class="form-group">
								<label for="inputName"> Name</label>
								<input type="text" class="form-control" id="inputName" placeholder="Jane Doe">
							</div>
							<div class="form-group">
								<label for="email"> Email </label>
								<input trype="text" class="form-control" id="email" placeholder="jane.doe@example.com">
							</div>
							<button type="submit" class="btn btn-primary"> Sign Up</button>
						</form>
					</div>	
				</div>
				<!--Starting Social Profiles in Contact Us-->
				<div class="col-md-6 fh5co-service to-animate">
					<div class="fh5co-desc">
						<h2>Social Profiles</h2>
						<!--Twitter-->
						<div class="row">
						<div class="col-md-4 to-animate text-center">
							<ul class="social social-circle">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
						</ul>
						</div>
						<div class="col-md-2 to-animate">
							<p>Twitter Handle</p>
						</div>
						</div>
						<!--Facebook-->
						<div class="row">
						<div class="col-md-4 to-animate text-center">
							<ul class="social social-circle">
								<li><a href="#"><i class="icon-facebook"></i></a></li>
							</ul>
						</div>
						<div class="col-md-2 to-animate">
							<p>Facebook Page</p>
						</div>
						</div>
						<!--LinkedIn-->
						<div class="row">
						<div class="col-md-4 to-animate text-center">
							<ul class="social social-circle">
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="col-md-2 to-animate">
							<p>LinkedIn</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Our Sponsors-->
		<div class="row">
			<div class="col-md-12 fh5co-service to-animate text-center">
				<h2>Our Sponsors!</h2>
			</div>
		</div>
	</div>
</div>


	<!--Testimonials-->
	<div id="fh5co-testimonials" data-section="testimonials">		
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Happy Participant Says...</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!--First Testimony-->
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
							<p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
				</div>
				<!--Second Testimony-->
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
				</div>
				<!--Third Testimony-->
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, Founder <a href="#">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>


	<!--Starting Press Releases-->
	<div id="fh5co-press" data-section="press" >
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-press-1">Blog</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_7.jpg)">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">First Blog Post<span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">Read Post</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_8.jpg)">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">Second Blog Post <span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">Read Post</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>
				
				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_9.jpg);">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">Third Blog Post<span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">Read Post</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_10.jpg);">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">Fourth Blog Post<span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">Read Post</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

			</div>
		</div>
	</div>
	<!-- End Press Releases Container-->
	

	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2016 <a href="index.html"``>The Entrepreneurial Society</a>. All Rights Reserved.</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	</body>
</html>
